<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mx-auto">Reservations Management</span>
    </div>
</nav>

<div class="container-fluid">
    <ul class="responsive-tablee">
      <li class="table-header">
        <div class="col col-1 col-bold">ID</div>
        <div class="col col-1 col-bold">Libelle</div>
        <div class="col col-1 col-bold">Actions</div>
        <div class="col col-1 col-bold">Actions</div>
        <div class="col col-1 col-bold">Actions</div>
        <div class="col col-1 col-bold">Actions</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="ID :">1</div>
        <div class="col col-1" >hello</div>
        <div class="col col-1 col-bold">Actions</div>
        <div class="col col-1 col-bold">Actions</div>
        <div class="col col-1 col-bold">Actions</div>
        <div class="col col-1">
            <button class="button-75" role="button" type="button">
                <span class="text">Details</span>
            </button>
        </div>
      </li>
    </ul>
</div>
