<div class="container">
    <form>
        <h2 class="title">Login Form</h2>
        <div class="input-group">
            <input formControlName="email" required type="text" name="text" autocomplete="off" class="input">
            <label class="user-label">Email</label>
            <i class="fa fa-envelope"></i>
        </div>

        <div class="input-group">
            <input formControlName="email" required type="password" name="text" autocomplete="off" class="input">
            <label class="user-label">Password</label>
            <i class="fa fa-lock"></i>
        </div>
        
        <button> Login </button>

        <div class="navvv">
            <span>Dont't Have Account ?</span>
            <a routerLink="/register">SignUp</a>
        </div>
    </form>
</div>